<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{% url 'index'%}" {% if 'index' in request.path %} class="nav-link active  " {% else %}
                            class="nav-link  " {% endif %}>

                            <span data-feather="home"></span>
                            Home <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard'%}" {% if 'dashboard' in request.path %} class=" active"
                            {% else %} class=" " {% endif %}>
                            <span data-feather="file"></span>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create'%}">
                            <span data-feather="shopping-cart"></span>
                            Add Listings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about'%}" {% if 'dashboard' in request.path %}
                            class=" active " {% else %} class=" " {% endif %}>
                            <span data-feather="users"></span>
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >
                            <span data-feather="bar-chart-2"></span>
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>

                <ul class="nav flex-column mb-2">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout</a>
                    </li>
                    <form action="{% url 'logout' %}" id="logout" method="POST">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login'%}">
                            <span data-feather="file-text"></span>
                            Login
                        </a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </nav>


    </div>
</div>