{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %} | Login

{% endblock  %}

{% block content %}



<!-- sidebar -->
{% include 'partials/_sidebar.html' %}




<div class=" mx-auto  ">
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}



  <form action="{% url 'login' %}" method="POST" class="form-signin text-center">
    {% csrf_token %}

    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in <i class="fab fa-houzz"></i></h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control " placeholder="Username" required autofocus
      style="width: 300px;">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required
    style="width: 300px;">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class=" mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>

</div>






</section>







{% endblock %}