{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} | Welcome

{% endblock  %}

{% block content %}






<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <!-- sidebar -->
    {% include 'partials/_sidebar.html' %}


    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}


    <h2 class="">Discover
    </h2>

    <p class=""> Login as, {{ user}}</p>
    <div class="col">
        <form action='{% url "search"%}' class="" role="search" enctype="multipart/form-data">

            <span class="input-group-btn">
                <button type="submit" class="btn  bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
            </span>
            <input type="search" class="form-control input-sm no-border rounded" name="keywords"
                placeholder="Search House,villa..." value="{{ values.keywords}}">



            <input type="search" name="city" class="form-control" placeholder="City" value="{{ values.city }}">
            <label class="sr-only">State</label>
            <select name="state" class="form-control">
                <option selected="true" disabled="disabled">State (All)</option>
                {% for key,value in state_choices.items %}
                <option value="{{ key }}" {% if key == values.state %} selected {% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
            <label class="sr-only">Bedrooms</label>
            <select name="bedrooms" class="form-control">
                <option selected="true" disabled="disabled">Bedrooms (Any)</option>
                {% for key,value in bedroom_choices.items %}
                <option value="{{ key }}" {% if key == values.bedrooms %} selected {% endif %}>{{ value }}</option>
                {% endfor %}
            </select>

            <select name="price" class="form-control">
                <option selected="true" disabled="disabled">Max Price (All)</option>
                {% for key,value in price_choices.items %}
                <option value="{{ key }}" {% if key == values.price %} selected {% endif %}>{{ value }}</option>
                {% endfor %}
            </select>



        </form>
    </div>
    <section class="card-group cotainer">




        {% if listings %}
        {% for listing in listings  %}
        <div class="row" id="card-loading">
            <div class="col">
                <div class="card  " style="width: 18rem;    margin-top: 10px;">


                    <img src="{{ listing.photo_main.url }}" class="card-img-top" alt="..." style="    height: 220px;">

                    <div class="card-header">${{ listing.price | intcomma}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{listing.title}}</h5>
                        <p class="card-text">
                            {{ listing.city }},{{listing.state  }},
                            {{ listing.zipcode }}
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated
                                {{ listing.list_date | timesince }}
                                ago</small></p>

                        <a href="{% url 'listing' listing.id %}" class="btn btn-block btn-primary">More info</a>
                    </div>

                </div>
            </div>
            <div class="col" class="w-50"></div>

        </div>
        </div>


        {% endfor %}
        {% else %}
        <div class="">No listings available...</div>
        {% endif %}


        <div class="row " style="margin-top: 30px;">

            {% if user.is_authenticated %}

            {% else %}
            <div class="col-sm-6 ">
                <div class="">
                    <a href="{% url 'login'%}">

                        <span class="h4"><i class="far fa-user"></i></i>
                            Login or Create account
                        </span> <span class="text-muted">Save and
                            share your Property with your friends when you log in or create
                            an account.</span> </a> </div>
            </div>
            <div class="col-sm-6">
                <div class=""> <a href="{% url 'register'%}"> <span class="h4 "><i
                                class="fas fa-cloud-download-alt"></i>
                            Register</span> <span class="text-muted">Register your property
                                Create new account
                            </span> </a>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                </div>
                {% endif %}



            </div>

        </div>
        <div class="w-100"></div>
    </section>

</main>



<script>
    var instance = $('#card-loading').scheletrone();

</script>



{% endblock %}